
.results {
    vertical-align: top;
}

#target {
    display : inline-block;
    vertical-align: middle;
    background : #ffffff;
    width : 100%;
}
.stats-table {
    display : inline-block;
    border-collapse: collapse;
    vertical-align: middle;
}
.stats-table th, .stats-table td {
    border-bottom : 1px solid rgba(0,0,0,0.1);
    padding : 4px 10px;
}
.stats-table .value {
    min-width : 4em;
    text-align : right;
}
p {
    margin : 10px 10px;
}
.center { text-align : center; }
ons-input.right input { text-align:right; }
